:root {
  --color-white: #fff;
  --color-green: #717b70;
  --color-text: var(--color-white);
  --color-background: var(--color-green);
}

.app {
  text-align: center;
}

.app-header {
  align-items: center;
  background-color: var(--color-background);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  font-size: calc(20px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}
